@import "bootstrap-sprockets";
@import "bootstrap";
@import "material-dashboard";

html { margin: 1em; }
body { color: #212121; font-family: "Helvetica Neue", "Calibri Light", Roboto, sans-serif; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-size: 18px; line-height: 1.75em; }
